body {
  font-family: "Rubik", Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
 }
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h1,h2,h3,h4,h5,h6 {color:#292929; text-transform: uppercase;font-weight: 700;}
 h1 {font-size: 48px;}
 h2 {font-size: 36px;}
 h3 {font-size: 28px;}
 h4 {font-size: 24px;}
 h5 {font-size: 22px;}
 h6 {font-size: 18px;}
 p {line-height: 26px;}
 ul {list-style-type: none;}
 a {text-decoration: none; display: inline-block;}
 a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
 img {max-width: 100%; display: block;}
  button:focus, button:hover{outline: none;}
 button {border:none;outline: none;box-shadow: none;display: block; padding: 0;}
 input,textarea {outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
 .form-control:hover,.form-control:focus,.form-control:visited{outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
 .text-right{
    text-align: right;
}
 .relative{
    position: relative;
 }
 .padding{
    padding: 100px 0;
    position: relative;
 }
 .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*********================= Navbar ===========**************/
.navbar-brand{
    color: #fff;
 }
 .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    padding: 12px 14px;
    text-transform: uppercase;
    font-weight: 400px;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus{
  background: none;
  color: #26547c;
}
.navbar-toggler{
  border-color: #fff;
  padding: 4px 10px;
}
/*.navbar-toggler .navbar-toggler-icon{
  color: #fff;
  width: 22px;
  height: 22px;
}
.navbar-collapse{
  max-height: none;
}*/
.navbar-top{
  background-color: rgba(0,0,0,1);
}
/*********================= Banner Area ===========**************/
.banner-area{
    height: 100vh;
    background: url('../images/banner-img.jpg') no-repeat center center fixed;
    background-size: cover;
}
.banner-area .overlay-bg{
    background-color: rgba(0, 0, 0, 0.85);
}
.btn-outline-white{
    border-width: 2px;
    border-radius: 0;
    border-color: #fff;
    color: #fff;
    animation-delay: .5s;
    animation-duration: .5s;
}
.btn-outline-white:hover{
    border-width: 2px;
    background: #fff;
    color: #000;
}
.btn-outline-white:active, .btn-outline-white:focus{
    box-shadow: none;
}
.banner-text, .blog-text{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.banner-area h1{
    font-size: 36px;
    font-weight: 700 !important;
    text-transform: uppercase;
    animation-delay: .1s;
    animation-duration: .5s;
}
.banner-area p{
    font-size: 16px;
    font-weight: 300 !important;
    animation-delay: .1s;
    animation-duration: .5s;
}

/*********================= Services ===========**************/
.services h2, .portfolio h2, .blog h2, .review h2, .projects h2, .contact h2{
    font-size: 30px;
    font-weight: bold;
    color: #26547c;
}
.services h2:before{
    content: "";
    width: 60px;
    height: 2px;
    background: #424242;
    position: absolute;
    left: 48%;
    bottom: 55%;
}
.services p{
    font-size: 14px;
    line-height: 24px;
    color: #9baebf;
    letter-spacing: .28px;
}
.services-1{
    padding: 30px;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    margin-bottom: 40px;
}
.theme-title h2 {
  position: relative;
}
.theme-title h2:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  background: #424242;
  margin-left: -12px;
}
.theme-title p {
  font-size: 14px;
}
.single-service-content{
    margin-top: 40px;
}
.single-service-content .icon{
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    border: 2px solid #26547c;
    font-size: 24px;
    color: #292929;
}
.round-border{
    border-radius: 50%;
}
.single-service-content h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 35px 0 20px 0;
}
.single-service-content h5 a{
    color: #292929;

}
.single-service-content a.more{
    width: 100px;
    line-height: 25px;
    color: #292929;
    margin-top: 18px;
    border: 1px solid #26547c;
}
/*********================= Portfolio ===========**************/
.projects{
    background: #f6f7fa;
}
.project-menu{
    margin-bottom: 50px;
}
.project-menu button{
  margin: 0 10px 10px;
}
.project-menu .btn{
  font-size: 14px;
}
.project-menu .btn:active{
  background-color: #007bff;
  border: none;
  color: #fff;
}
.filter{
  padding: 15px;
}
/*.filter-button{
  font-size: 18px;
  border: 1px solid #2c2b2b;
}
.projects .project-menu{
    text-align: center;
}

.projects .grid-item{
    padding: 0 15px 30px;
}
.project-menu ul li{
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 0 8px;
    font-weight: 700;
    color: #292929;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: transparent;
    margin: 15px 10px 0 10px;
}
.project-menu ul li.active{
    border-color: #26547c;
    border-style: solid;
}*/
.projects .project-gallery .single-image{
    position: relative;
    overflow: hidden;
}
.projects .project-gallery .single-image img{
    max-width: 100%;
}
.projects .project-gallery .single-image:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear 0s;
}
.projects .project-gallery .single-image .project-hover{
    position: absolute;
    bottom: 55%;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    z-index: 2;
}

.projects .project-gallery .single-image .project-hover h4{
    color: #f9f9f9;
    font: 700 14px;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    right: -100%;
    transition: all 300ms linear 0s;
}
.projects .project-gallery .single-image .project-hover a{
    font: 400 14px/60px;
    text-align: center;
    border: none;
    border-radius: 0;
    background: #fff;
    color: #26547c;
    position: relative;
    left: -100%;
    transition: all 300ms linear 0s;
    text-transform: uppercase;
    margin: 0 auto;
}
.projects .project-gallery .single-image .project-hover a:hover,
.projects .project-gallery .single-image .project-hover a:focus{
  background: #fff;
  color: #26547c;
}
.projects .project-gallery .single-image:hover:after,
.projects .project-gallery .single-image:focus:after {
  opacity: 1;
}
.projects .project-gallery .single-image:hover .project-hover h4,
.projects .project-gallery .single-image:focus .project-hover h4 {
  right: 0;
}
.projects .project-gallery .single-image:hover .project-hover a,
.projects .project-gallery .single-image:focus .project-hover a {
  left: 0;
}
/*********================= Counter ===========**************/
.single-counter{
    text-align: center;
    margin-bottom: 30px;
}
.single-counter h1.counter-text{
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    color: #26547c;
}
.single-counter p{
    color: #222;
}

/*********================= Blog ===========**************/
.blog .single-latest-blog{
    padding: 20px;
}
.blog .single-latest-blog .post-image{
    position: relative;
}
.single-latest-blog .post-image .blog-hover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms linear 0s;
}
.single-latest-blog .post-image .blog-hover i{
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.single-latest-blog:hover .post-image .blog-hover{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.single-latest-blog .post h6{
  font-size: 15px;
  font-weight: 700;
}
.blog .single-latest-blog .post h6 a {
  display: block;
  line-height: 26px;
  text-transform: none;
  color:#292929;
}
.blog .single-latest-blog .post p a {
  color: #292929;
}
.p-color{
    color: #26547c;
}
/*********================= Progress bar ===========**************/
.skill-background{
    background: url('../images/pulse_mod3.jpg') no-repeat center center fixed;
    background-size: cover;
}
.skill-background .overlay-bg{
    background-color: rgba(0, 0, 0, 0.90);
}
.clear-fix{
    clear: both;
}
.habilidades{
    width: 100%;
    margin: 125px 0 0 0;
}
.progress-skills-text{
    text-align: left;
    font-weight: 700;
    transition: ease 0.3s all;
    margin-bottom: 8px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
    margin: 0;
}
.progress{
    box-shadow: none;
    height: 30px;
    width: 100%;
    color: #fff;
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #26547c;
}
.progress-bar{
    width: 89%;
    background-color: #26547c;
}

/*********================= Review ===========**************/
.review{
   background-color: #f6f7fa;
}
.review .client-slider .item p{
    background: #f1e8e9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
}
.review .client-slider .item img{
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
}
.review .client-slider .item h4{
  font-size: 18px;
  font-weight: 400;
  padding: 25px 0px 12px 0px;
}
.review .client-slider .item h5{
  font-size: 14px;
  padding-bottom: 18px;
}
.owl-theme .owl-dots .owl-dot span{
  height: 6px;
  width: 6px;
  background: #b2b2b2;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  display: none;
  visibility: hidden;
}
.owl-theme .owl-nav{
  margin: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #26547c;
}
/*********================= Contact ===========**************/
.contact{
    background-color: #f6f7fa;
}
.form-control{
    height: 55px;
    background: #fff;
}
.form-group .btn{
    background-color: #26547c;
    border: 1px solid #26547c;
    color: #fff;
    box-shadow: none;
}
/*********================= Footer ===========**************/
.footer{
    background-color: #04091e;
    padding-bottom: 20px;
    color: #777777;
}
.footer h6{
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
.footer-text{
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
}
.footer-social-icons{
  margin-top: 10px;
}
.footer-social-icons a{
    margin-right: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}
.footer-social-icons a:hover{
  color: #677fb5;
}
.footer-social-icons a:nth-child(1){
    color: #677fb5;
}
.footer-social-icons a:nth-child(2){
    color: #ff3ba4;
}
.footer-social-icons a:nth-child(3){
    color: #70c2e9;
}
.footer-social-icons a:nth-child(4){
    color: #007ab9;
}
.footer-social-icons a:nth-child(5){
    color: #5ecbf3;
}
.footer .footer-links li{
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 14px;
}
.single-footer{
  margin-bottom: 20px;
}

/*.blog-area{
    background: url('../images/banner-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height:50vh;
}
.blog-area .overlay-bg{
    background-color: rgba(0, 0, 0, 0.75);
}
.single-post .feature-img img{
    width: 100%;
}
.single-post .tags{
    margin-top: 10px;
    margin-bottom: 30px;
}
.single-post .tags li{
    display: inline-block;
    border: 1px solid #eee;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 700;
    transition: ease 0.3s all;
}
.single-post .tags li .lnr{
    margin-right: 10px;
}
.comment-list .comment{
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}
.comment-list .comment .vcard{
    width: 80px;
    float: left;
}
.comment-list .comment .vcard img{
    width: 50px;
    border-radius: 50%;
}*/